:root {
  --layout-max-width: 800px;
  --layout-x-padding: 16px;

  --color-dark: #111111;
  --color-dark-gray: #374151;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-weight: 700;
  font-style: bold;
  color: var(--color-dark);
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-gray);
}

.footer-pusher {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  margin-top: auto;
  padding-top: var(--layout-x-padding);
  padding-bottom: var(--layout-x-padding);
  text-align: center;
}

.container {
  width: 100%;
  max-width: var(--layout-max-width);
  padding: 0 var(--layout-x-padding);
  margin: 0 auto;
}

.subheader {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.contacts {
  list-style: none;
  gap: 16px;
  padding: 0;
  margin-left: auto;
  text-align: right;
}

.contacts a {
  position: relative;
  display: inline-block;
  padding-right: 24px;
  margin-bottom: 8px;
}

.contacts a::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.contacts a.email::before {
  background-image: url("common/icon-gmail.svg");
}

.contacts a.instagram::before {
  background-image: url("common/icon-instagram.svg");
}

.contacts a.linkedin::before {
  background-image: url("common/icon-linkedin.png");
}